{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash flash-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<main class="container" style="max-width:820px;margin:40px auto;padding:18px;">
  <h1>
    Welcome,
    {% if current_user.name %}
      {{ current_user.name.split(' ')[0] }}
    {% else %} 
    Student 
    {% endif %}
  </h1>

  <p>What would you like to do?</p>

  <nav>
    <ul style="list-style:none;padding:0;">
      <li><a href="{{ url_for('student_ui.student_exams') }}" class="btn btn-primary-blue">Make an Appointment</a></li>
      <li><a href="{{ url_for('student_ui.student_appointments') }}" class="btn btn-primary-blue">View My Appointments</a></li>
    </ul>
  </nav>
</main>

{% endblock %}
